@page "/projectdetails"

@using ACSReportApp.Services.Contracts
@using ACSReportApp.Services.Models
@using ACSReportApp.MudBlazorUI.Components.TablesContent.Project

@inject IProjectService ProjectService

<style>
    .bordered-item {
        border: 1px solid #000000;
        padding: 10px;
        box-sizing: border-box;
    }

    .bordered-container {
        border: 1px solid #000000;
        margin: -1px;
    }
</style>

<h1 style="text-align: center; margin: 5px;">Project Details</h1>

<MudPaper Class="d-flex justify-space-between flex-grow-1 gap-4 ma-4 pa-4" Elevation="0">
    <MudGrid Class="d-flex justify-space-around flex-grow-1">
        <MudItem xs="5" sm="3" Class="border-solid border-2 mud-border-primary ma-1 pa-1 rounded-xl">
            <MudText Align="Align.Center" Typo="Typo.h6">Project number</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">@CurrentProject.Number</MudText>
        </MudItem>
        <MudItem xs="5" sm="3" Class="border-solid border-2 mud-border-primary ma-1 pa-1 rounded-xl">
            <MudText Align="Align.Center" Typo="Typo.h6">Name</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">@CurrentProject.Name</MudText>
        </MudItem>
        <MudItem xs="5" sm="3" Class="border-solid border-2 mud-border-primary ma-1 pa-1 rounded-xl">
            <MudText Align="Align.Center" Typo="Typo.h6">Description</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">@CurrentProject.Description</MudText>
        </MudItem>
        <MudItem xs="5" sm="3" Class="border-solid border-2 mud-border-primary ma-1 pa-1 rounded-xl">
            <MudText Align="Align.Center" Typo="Typo.h6">Date of creation</MudText>
            <MudText Align="Align.Center" Typo="Typo.body1">@CurrentProject.DateCreated</MudText>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudPaper Class="d-flex justify-space-around flex-grow-1 gap-4 ma-4 pa-4" Elevation="0">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCablesTable">Show project cables list</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowTraysTable">Show project trays list</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowConsumersTable">Show project consumers list</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowInstrumentsTable">Show project instruments list</MudButton>
</MudPaper>

@if (showCablesTable)
{
    <CablesTableContent ProjectId="@ProjectId" />
}

@if (showTraysTable)
{
    <!-- Add TraysTableContent component here -->
}

@if (showConsumersTable)
{
    <!-- Add ConsumersTableContent component here -->
}

@if (showInstrumentsTable)
{
    <!-- Add InstrumentsTableContent component here -->
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "projectId")]
    public Guid ProjectId { get; set; }

    private ProjectServiceModel CurrentProject = new ProjectServiceModel();

    private bool showCablesTable;
    private bool showTraysTable;
    private bool showConsumersTable;
    private bool showInstrumentsTable;

    protected override async Task OnInitializedAsync()
    {
        CurrentProject = await ProjectService.GetProjectAsync(ProjectId);
    }

    private void ShowCablesTable()
    {
        showCablesTable = true;
        showTraysTable = false;
        showConsumersTable = false;
        showInstrumentsTable = false;
    }

    private void ShowTraysTable()
    {
        showCablesTable = false;
        showTraysTable = true;
        showConsumersTable = false;
        showInstrumentsTable = false;
    }

    private void ShowConsumersTable()
    {
        showCablesTable = false;
        showTraysTable = false;
        showConsumersTable = true;
        showInstrumentsTable = false;
    }

    private void ShowInstrumentsTable()
    {
        showCablesTable = false;
        showTraysTable = false;
        showConsumersTable = false;
        showInstrumentsTable = true;
    }
}
